.contentBox {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .contentBox:hover {
    transform: translateY(-5px);
  }
  
  
  .title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }

  
#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 5px; 
    width: 79%;
    margin: 0 auto;
  }